@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(5, 15, 0);
}

a {
    color: aliceblue;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 35px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 30px;
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    font-size: larger;
    padding: 60px 9% 0;
    margin-left: 10%;
    color: #fff;
}

.home-info h1 {
    font-size: 50px,;
}

.home .home-info h3 {
    color: greenyellow;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10%;
}

.home-info p {
    font-size: 15px;
    margin-top: -10px 0 25px;
}

.button-social {
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 3px;
    background: greenyellow;
    border: 3px solid green;
    border-radius: 50px;
    box-shadow: 0 0 10px whitesmoke;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.home-info .button-social .social {
    margin-left: 25px;
}

.home-info .button-social .social a {
    display: inline-flex;
    margin-left: 15px;
    padding: 8px;
    border: 2px solid greenyellow;
    border-radius: 50%;
    
}

.home-img .img-box {
    width:  32vw;
    height: 32vw;
}

.img-item img {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    border-radius: 50%; 
    object-fit: cover;
}
